h1 { font-size: 1.4em; padding: 0; margin-bottom: 0.6em }
h2 { font-size: 1.3em; padding: 0; margin-bottom: 0.5em }
h3 { font-size: 1.2em; padding: 0; margin-bottom: 0.4em }

.brand:hover {
    text-decoration: underline;
}

main {
    background: #fff;
    text-align: left;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    padding: 5em 0 0;
}

main p a {
    color: black;
    text-decoration: underline;
}

.mixes ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mix-item h2 {
    padding-top: 0;
    font-family: sans-serif;
    font-size: 1.3em;
    color: black;
    margin-bottom: 0;
}

.mix h1 {
    margin-bottom: 0;
}

.mix-item .date {
    margin-bottom: 0.5em;
}

.mix-item h2 {
    text-decoration: none;
}

.mix-item h2:hover {
    text-decoration: underline;
}


.mixes .mix-item {
    padding: 1em;
}

.mix-item .thumbnail {
    float: right;
    margin-left: 1em;
}

.thumbnail img {
    border-radius: 0.2em;
}

.mix-item .description {
    display: block;
    margin-bottom: 1em;
}
