h1 { font-size: 1.4em; padding: 0; margin-bottom: 0.6em }
h2 { font-size: 1.3em; padding: 0; margin-bottom: 0.5em }

body { font-family: Verdana, Geneva, Tahoma, sans-serif; }

.brand:hover {
    text-decoration: underline;
}

main {
    background: #fff;
    text-align: left;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    padding: 4em 0 1em 0;
    line-height: 1.6em;
}

main p {
    max-width: 42em;
}

main p a,
.mix li a {
    color: #111;
    text-decoration: underline;
}

.highlight a {
    color: #0074d9;
}

.mix ul,
.mixes ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mixes .card p {
    margin: 0.5em 0;
}

.mix-item h2 {
    font-size: 1.1em;
    padding-top: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mix-item h2:hover {
    text-decoration: underline;
}

.mix-item .date {
    margin-bottom: 0.5em;
}

.mix-item {
    padding: 1em;
}

.mix-item .thumbnail {
    float: right;
    margin-left: 1em;
}

.thumbnail img {
    border-radius: 0.2em;
}

.mix-item .description {
    display: block;
    margin-bottom: 1em;
}

.mix h1 {
    margin-bottom: 0;
}

@media (min-width: 900px) {
    .mix .cover {
        text-align: center;
    }
}

.mix .cover img,
.cover img {
    max-width: 100%;
    height: auto;
}
