<header>
  <nav>
    <a href="/" class="brand"><span>bobvanhoove.nl</span></a>
    <input id="bmenu" type="checkbox" class="show">
    <label for="bmenu" class="burger toggle pseudo button">menu</label>
    <div class="menu">
      {% for item in navigation.items %}
      <a href="{{ item.url }}" clas="pseudo button">{{ item.text }}</a>
      {% endfor %}
    </div>
  </nav>
</header>

<!--
  <a href="/" aria-label="{{ site.name }} - home" class=""></a>
  <nav class="" aria-label="Primary">
    <ul class="">
      {% for item in navigation.items %}
      <li>
        <a href="{{ item.url }}" {{ navigation_style.get(item.url, page.url) | safe }}>{{ item.text }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
-->